
.full-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://github.com/JoinCODED/TASK-css-challenge/blob/main/assets/pokemon-bg.jpg?raw=true);
    background-repeat: no-repeat;
}

.white-box {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.282), 0 6px 20px 0 rgba(0, 0, 0, 0.344) ;
    
}

.image {
    width: 100%;
    height: 50%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.text-div {
    width: 100%;
    height: 50%;
    padding-bottom: 40px;
}

.title-div {
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.title {
    font-size: xx-large;
    text-align: center;
}


.description-div {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.description {
    width: 80%;
    font-size: small;
    text-align: center;
}