/* Add your code in each class */
*{
  box-sizing: border-box;
}
body {
  background-color: rgba(26,12,45,255);
  height:100vh;
}
.container {
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-card {
  height: 400px;
  width: 400px;
  overflow: hidden;
  position: relative;
}
.movie-image {
  width: 100%;
}
.movie-details-container {
}
.descriptions {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 20px;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  top:0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.movie-title{
  font-size: large;
}
